#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: "Recursive", sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.link:hover {
  color: var(--purple);
}
